.fp__hero{
    background-color: #f7f7fa;
    overflow: hidden;
}
.fp__heading {
    text-align: center;
    margin-top: 60px;
    color: $darkgrey;
}
.fp__message {
    text-align: center;
    max-width: 450px;
    margin: 40px auto 0;
    color: $blue;
    font-size: 0.875rem;
    line-height: 25px;
}
.fp__form {
    overflow: hidden;
    box-shadow: 
        inset 0px 4px 2px 0px rgba(226,226,226,1),
        inset 0px -4px 2px 0px rgba(226,226,226,1);
}

.fp__label {
    color: $darkgrey;
}

.fp__form-wrapper {
    max-width: 330px;
    margin:  0 auto;
}

.fp__input {
    width: 100%;
}